
.burger {
    display: none;
    /* padding: 30px 50px; */
}

.mobile_menu {
    background-color: white;
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    padding: 30px 25px;
    z-index: 99999;
    transform: translateX(100%);
    transition: 0.4s all;
    opacity: 0;
    display: none;
}

@media (max-width: 767px) {
    .burger {
        display: block;
    }

    .mobile_menu.show {
        display: block;
        transition: 0.4s all;
        opacity: 1;
        transform: translateX(0%)
    }

    .main_recommends {
        margin-top: 60px;
    }

    .burger img {
        width: 40px !important;
    }

    .header_btns a {
        margin-right: 0;
    }

    .logo {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo img {
        width: 100px;
    }

    .nav_items {
        display: none !important;
    }

    .main_text h2, .title_guaranty h2, .title_footer h2 {
        line-height: 42px;
        font-size: 30px;
    }

    .col-item-gua_border_left, .col-item-gua_border_right {
        display: none;
    }

    .header_btns {
        flex-direction: column;
    }

    .check_form div, .nav_items_footer, .footer_nav_social {
        flex-direction: column;
    }

    .check_order_btn, .check_response {
        margin: 15px 0 0 0;
    }


    .phones a, .email a {
        font-size: 18px;
    }

    .nav_items_footer li {
        border: none;
        text-align: center;
        margin-bottom: 10px;
    }

    .nav_items_footer {
        margin: 20px 0 0 0 !important;
    }

    .social {
        margin: 30px 0 0 0;
    }

    .logo_footer {
        flex-direction: column-reverse;
    }

    .col-item-gua_label {
        margin-bottom: 8px;
    }

    .gua_down {
        margin: 0 0 26px 0 !important;
    }

    .col-item-about {
        margin-bottom: 20px;
    }

    .about_figure {
        font-size: 60px;
    }

    .about_figure_text {
        margin-top: -29px;
        font-size: 32px;

    }

    footer {
        margin: 0 !important;
    }


}
